strict-peer-dependencies=false
auto-install-peers=true

# pnpm bug: https://github.com/byCedric/expo-monorepo-example/tree/main?tab=readme-ov-file#pnpm-workarounds
node-linker=hoisted
engine-strict=true
